.NewTodoForm {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.NewTodoForm-input {
  flex-grow: 1;
  border: none;
  background-color: #FEFCFD;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
}

.NewTodoForm-button {
  padding: 1rem 2rem;
  border: none;
  background-color: #3B3355;
  cursor: pointer;
  color: #FEFCFD;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 1rem;
  font-family: inherit;
  transition: all 0.2s;
}

.NewTodoForm-button:hover {
  background-color: #FEFCFD;
  color: #3B3355;
}